$main-backgroung-color: #FFFFFF;
$header-background-color: #DCDCDC;

$green-dark: #009C95;
$green-light: #92C680;

$success-color: #DCDCDC;
$warning-color: #FF9705;
$alarm-color: #FE3636;

$success-icon-color: #75B310;
$icon-color: #FFFFFF;

$black: #000000;
$white: #FFFFFF;
