@import "variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 80px;
  background-color: $header-background-color;
  padding: 15px 20px;
  font-size: 1.2rem;
  border-bottom: 5px solid $green-dark;

  .operator {
    display: flex;
    flex-direction: row;
  }
}
